{% extends "layout.html" %}
    {% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h2 class="h4">{% if title %}{{title}}{% else %}No Title{% endif %}</h2>
        <div class="btn-toolbar mb-2 mb-md-0">
            <a href="{{ url_for('contacts.update_contact', contact_id=contact.id) }}"
               class="btn btn-md btn-outline-primary mr-2" role="button">
                <span data-feather="edit-2"></span>
                  Edit
            </a>
            <a href="{{ url_for('contacts.get_contacts_view') }}" class="btn btn-md btn-outline-secondary" role="button">
                <span data-feather="arrow-left"></span>
                  Back to List
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-10">
            <ul class="list-group list-group-flush">
                <li class="list-group-item g_field col-12">
                    <div class="row">
                      <div class="col-3">
                          <div class="label">First Name</div>
                          <div class="text">{{ contact.first_name if contact.last_name else '_' }}</div>
                      </div>
                      <div class="col-3">
                          <div class="label">Last Name</div>
                          <div class="text">{{ contact.last_name if contact.last_name else '_' }}</div>
                      </div>
                      <div class="col-6">
                        <div class="label">Class</div>
                        <div class="text">{{ contact.classe if contact.classe else '_' }}</div>
                    </div>
                  </div>
                </li>
                <li class="list-group-item g_field col-12">
                    <div class="row">
                      <div class="col-3">
                          <div class="label">Parent Phone</div>
                          <div class="text">{{ contact.parentnumber if contact.parentnumber else '_' }}</div>
                      </div>
                      <div class="col-3">
                          <div class="label">Etablissement</div>
                          <div class="text">{{ contact.etablissement if contact.etablissement else '_' }}</div>
                      </div>
                      <div class="col-6">
                        <div class="label">Choise Number</div>
                        <div class="text">{{ contact.nb_choix if contact.nb_choix else '_' }}</div>
                    </div>
                  </div>
                </li>
                <li class="list-group-item g_field">
                  <div class="label">Email</div>
                    {% if contact.email %}
                        <div class="text">
                            <span data-feather="mail" class="mr-1"></span>
                            <a href="mailto: {{ contact.email }}">{{ contact.email }}</a>
                        </div>
                    {% else %}
                        <div class="text"><span data-feather="mail"></span> _</div>
                    {% endif %}
        
              </li>
                <li class="list-group-item g_field col-12">
                    <div class="row">
                      <div class="col-6">
                          <div class="label">Phone</div>
                          <div class="text">
                              <span data-feather="phone" class="mr-1"></span> {{ contact.phone if contact.phone else '_' }}
                          </div>
                      </div>
                    </div>
              </li>
            </ul>
        </div>
    </div>

    {% endblock %}